{%extends,base.html%}
{%import 'marcos.html' as marco%}
<!-- content block -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEWS</title>
</head>
<body>
   <!-- Content block -->
    {% block content %}
    
    <!-- Popular news -->
    <h3> Popular News</h3>
    <ul>
        {{ macro.displayNewsList(popular)}}
    </ul>
    <!-- Upcoming news  -->
    <h3> Upcoming News </h3>
    <ul>
        {{ macro.displayNewsList(upcoming)}}
    </ul>
    <!-- Current News -->
    <h3>Current News</h3>
    <ul>
        {{ macro.displayNewsList(current_news)}}
    </ul>
    
    
    {% endblock%}
</body>
</html>