<!-- {% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block content %}
    <div class="container">

        <div class="row">

            <h3> Found {{ news| count }} matches </h3>
            <hr>
            <ul>
                {{ macro.displayNewsList(news)}}
            </ul>

        </div>

    </div>
{% endblock %} -->


{% extends 'base.html' %}
{% import 'macros.html' as macro %}

{% block content %}
<a href="/" class="alert-link">HOME</a>
<h3>Search results...</h3>
<div class="container">
    <div class="row">
        <hr>
        {{macro.displayOtherNews(results)}}
    </div>
</div>
{% endblock %}